@mixin display-flex-easy {
  display: flex;
  justify-content:center;
}

@mixin display-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin fullCenterAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin borderNone {
  border:0px;
}

@mixin standardSpacingDiv {
  padding: 80px 0 25px;
  margin: 30px 0 30px 0;
}

@mixin standSpacingSection {
  padding: 100px 100px;
}
@mixin standardSpacingBoxTextImg {
  width:420px;
  height:500px;
}

@mixin textDefaultSpacing {
  line-height: 24px;
  margin:10px 20px 20px 20px;
}

@mixin textSpacingUpDown {
  text-align: center;
  margin: 30px auto;
}


@mixin photobig-settings{
  width:768px;
  height: 471px;
}

@mixin photoSmall-AlatoBig{
  width:270px;
}
